<header class="page-header">
    <h1>About</h1>
  </header>

  <div class="products">
  Jungle sells unique and hard-to-find products. Our selections are always being updated so check us out regularly. Here you'll find cool items for yourself or for your home and you'll absolutely find all your gift needs here for hard-to-buy-for friends and family members. 
  </div>